<a href="https://colab.research.google.com/github/Vineet2107/Convolutional-neural-network-in-tensorflow/blob/main/TV_today.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/MyDrive/eyewear_ml_challenge.csv')

In [3]:
df.head()

   Unnamed: 0  ... frame_shape
0           0  ...   Rectangle
1           1  ...   Rectangle
2           2  ...   Rectangle
3           3  ...   Rectangle
4           4  ...   Rectangle

[5 rows x 6 columns]

In [5]:
df['Image_Front']

0       http://tak-apps-dev.s3.amazonaws.com/recruitme...
1       http://tak-apps-dev.s3.amazonaws.com/recruitme...
2       http://tak-apps-dev.s3.amazonaws.com/recruitme...
3       http://tak-apps-dev.s3.amazonaws.com/recruitme...
4       http://tak-apps-dev.s3.amazonaws.com/recruitme...
                              ...
5564    http://tak-apps-dev.s3.amazonaws.com/recruitme...
5565    http://tak-apps-dev.s3.amazonaws.com/recruitme...
5566    http://tak-apps-dev.s3.amazonaws.com/recruitme...
5567    http://tak-apps-dev.s3.amazonaws.com/recruitme...
5568    http://tak-apps-dev.s3.amazonaws.com/recruitme...
Name: Image_Front, Length: 5569, dtype: object

In [6]:
df[df['parent_category']!='eyeframe']

      Unnamed: 0  ... frame_shape
2183        2183  ...     Aviator
2184        2184  ...        Oval
2185        2185  ...     Aviator
2186        2186  ...   Rectangle
2187        2187  ...        Oval
...          ...  ...         ...
5564        5565  ...   Rectangle
5565        5566  ...   Rectangle
5566        5567  ...   Rectangle
5567        5568  ...   Rectangle
5568        5569  ...   Rectangle

[3386 rows x 6 columns]